.charaItemContainer {
	margin: 5px;
	width: 120px;
	overflow: hidden;
	/* background-color: var(--mica-bg); */
	backdrop-filter: var(--mica-blur);
	/* border: var(--mica-border); */
	border-radius: 20px;
	/* box-shadow: var(--shadow-base); */
	transition: all 0.2s ease;
	padding-bottom: 8px;
}

.charaItemContainer:hover {
	background-color: var(--mica-bg-hover);
	box-shadow: var(--shadow-base);
	transform: translateY(-2px);
}

.charaItemText {
	margin: 0;
	/* white-space: nowrap; */
	text-overflow: ellipsis;
	margin: 0;
	font-size: 1.2em;
	text-align: center;
}

.imgContainer {
	margin: 0 auto;
	width: 100px;
	height: 100px;
}

.charaImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
	transition: border-radius 0.15s ease, filter 0.3s ease;
	cursor: pointer;
	user-select: none;
	opacity: 1;
	filter: drop-shadow(0 0 5px var(--glow-color));
}

.charaImage:hover {
	filter: drop-shadow(0 0 10px var(--glow-color));
}

.charaImage:active {
	filter: drop-shadow(0 0 15px var(--glow-color));
	border-radius: 50%;
}

.charaItemContainer:active {
	transform: translateY(-1px) scale(0.98);
}